---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/public/4.webp" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="website" property="og:type" />
<meta name="viewport" content="width=device-width,initial-scale=1"  />
<link rel="icon" type="image/svg+xml" href="/favicon-dark-192.png" />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property='og:url' content='https://animetaiyaki.pages.dev/' />
<meta property="og:site_name" content="AnimeTaiyaki" />
<meta property="og:locale" content="es_ES" />
<meta name="robots" content="index" />
<meta name="googlebot" content="index" />

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/atkinson-regular.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/atkinson-bold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="description" content={description} />
<meta name="Author" lang="es" content="Debelxd" />
<meta name="keywords" content="Descargar ANIME por Mega y Mediafire ✅ Sub español ✅ HD ✅ 1 solo link ✅ Todos los capitulos en carpeta contenedora ✅ " />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>
<!-- Google tag (gtag.js) -->
<script
  is:inline
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-TDKCGWM7LZ"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-TDKCGWM7LZ");
</script>
